body {
    /*background: linear-gradient(to right, #607d8b, #ffffff);*/
}

@font-face {
    font-family: 'logo';
    src: url(../font/logo.ttf);
}

a.brand-logo {
    font-family: 'logo';
    margin: 6px;
    font-size: 60px;
    color: #26a69a;
}

ul.links li {
    display: inline-block;
}